@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em { font-style: italic; }

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a { 
    display: inline-block;
    text-decoration: none; 
}

li {
    display: inline-block;
    list-style-type: none;
}

/*for wrapper*/
.wrapper {
    max-width: 1360px;
    width: 86%; 
    margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header:after { 
    width: 100%;
    height: 3px;
    margin: 0;
    display: block;
    position: absolute;
    content: "";
    background: linear-gradient(to right,rgb(54, 195, 255),rgb(250, 164, 5));
}

h1 {
    padding: 20px 0;
    background:  linear-gradient(to bottom,rgb(54, 195, 255),rgb(250, 164, 5));
    background-clip: text;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    font-size: 40px;
    font-weight: bold;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.form-sec {
    width:  80%;
    margin: 0 auto;
}

form {
    width: 80%;
    padding: 30px 0;
    margin: 0 auto;
}

.form1 li {
    color: rgb(53, 51, 51);
    display: block;
    text-align: left;
    padding:15px 0;
}

label {
    display: block;
    padding-bottom: 10px;
}

.form1 input[type="text"],
.form1 input[type="number"] {
    width: 200px;
    height: 25px;
    padding:2px 5px;
    border: 1px solid;
    border-radius: 4px;
}

.form1 input[type="text"]:focus,
.form1 input[type="number"]:focus,
.form1 input[type="button"] { outline: transparent; }

.form1 input[type="button"] {
    height: 30px;
    padding:5px 20px;
    border: 1px solid;
    border-radius: 5px;
    color: yellowgreen;
    background-color: rgb(255,255,255);
}

.form1 input[type="button"]:hover {
    color: rgb(255,255,255);
    background-color: yellowgreen;
    font-weight: bold;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.list{
    width:  80%;
    margin: 30px auto;
}

.list2{
    width: 80%;
    margin: 0 auto;
    
}

.list2 li{ 
    display: block;
    margin: 5px;
    padding: 0;
 }

.list2 button{ 
    margin-top: 5px;
    margin-right: 10px;
    
}

.list2 a{
    padding: 4.8px 20px;
    border: 1px solid;
    border-color: black;
    color: red;
}

span{
    padding: 5px 20px;
    border: 1px solid;
}

.heading {margin: 5px; }







/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  